.border-radius-xl {
    border-radius: 0.75rem;
}
.icon {
    fill: currentColor;
    stroke: none;
}

.position-absolute {
    position: absolute !important;
}

.mt-n4 {
    margin-top: -1.5rem !important;
}

.text-center {
    text-align: center !important;
}

.shadow-dark {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(64, 64, 64, .4) !important;
}

.bg-gradient-dark {
    background-image: linear-gradient(195deg, #42424a, #191919);
}

.icon-shape {
    width: 48px;
    height: 48px;
    background-position: 50%;
    border-radius: 0.5rem;
}

.icon-lg {
    width: 64px;
    height: 64px;
}

.bg-gradient-dark {
    background: #343a40 linear-gradient(180deg, #52585d, #343a40) repeat-x !important;
    color: #fff;
}

.text-end {
    text-align: right !important
}

.pt-0 {
     padding-top: 0 !important
 }

 .pt-1 {
     padding-top: .25rem !important
 }

 .pt-2 {
     padding-top: .5rem !important
 }

 .pt-3 {
     padding-top: 1rem !important
 }

 .pt-4 {
     padding-top: 1.5rem !important
 }

 .pt-5 {
     padding-top: 3rem !important
 }

 .pt-6 {
     padding-top: 4rem !important
 }

 .pt-7 {
     padding-top: 6rem !important
 }

 .pt-8 {
     padding-top: 8rem !important
 }

 .pt-9 {
     padding-top: 10rem !important
 }

 .pt-10 {
     padding-top: 12rem !important
 }

 .pt-11 {
     padding-top: 14rem !important
 }

 .pt-12 {
     padding-top: 16rem !important
 }
 .dashboard-icon {
    font-size: 30px;
    margin-top: 25%;
 }
