
/* table{width: 100%;border: 1px solid #333; border-collapse: collapse; font-family: Arial, Helvetica, sans-serif;}

table td{border: 1px dotted #999;}
table thead th{border: 1px solid #333;font-weight: bold; text-align: center;background-color : #ccc;}
table.companyinfo{border: none !important;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;} */

.kv-grid-table{width: 100%;border: 1px solid #333; border-collapse: collapse; font-family: Arial, Helvetica, sans-serif;}
.kv-grid-table td{border: 1px dotted #999;}
.kv-grid-table thead th{border: 1px solid #333;font-weight: bold; text-align: center;background-color : #ccc;}
.companyinfo{border: none !important; font-family: Arial, Helvetica, sans-serif;}
.report-title{font-family: Arial, Helvetica, sans-serif;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}