html,
body {
    height: 100%;
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #ccc;
    scrollbar-arrow-color: #ccc;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;
}
::-webkit-scrollbar { width: 8px; height: 6px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #ccc;}
::-webkit-scrollbar-thumb { height: 5px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\f15e";
}

a.desc:after {
    content: "\f15d";
}
.grid-primary a.asc:after, .grid-primary a.desc:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}



/*== login page*/
.login-page{
    background: url(../images/login-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.login-box{
    /* width: 70vw; */
    background-color: #fff;
    border-radius: 5px;
}
.login-content-bg{
    background: url(../images/login-content-bg.png) no-repeat center center;     
    background-origin: content-box;
    padding: 300px 0;
    border-right: 1px dotted #ccc;
}
.forgot-content-bg{
    background: url(../images/forgot-content-bg.jpg) no-repeat center center;     
    background-origin: content-box;
    padding: 300px 0;
    border-right: 1px dotted #ccc;
}
/* .login-info{ */
/* display: flex;
flex-direction: column;
justify-content: center; 
height: 40vh;    */
/* } */
.bg-image {
    background-image: url(../images/login-content-panel.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}


.login{
    background: #2E574F;
}
/* .login-logo{ */
/* color: #fff;text-align: left; */
/* } */
.login-logo span{display: block; font-size: .6em;}
.login-box-msg, .register-box-msg{color: #fff;}
.login .invalid-feedback{color: #fff;}
.rememberme, .rememberme a{color: #fff;}

/* btn */
/* .filters{} */
.filters td, .form-options-body-receive td{padding: 3px;}
.filters input.form-control, .filters select.form-control{padding: 0 3px; height: calc(1.6rem + 2px); font-size: .9rem;}

.kv-grid-table th a, .grid-primary th a{color: #333; }

td.kv-group-even,td.kv-group-odd {
    background-color: transparent !important;
}


table.table-bordered > tbody > tr > td, table.table-bordered > tbody > tr > th {
    border: 1px solid #ccc;
}
table th {
    white-space: pre-wrap !important;
} 
.table td, .table th {
    padding: .45rem;
}
.nav-link {
    padding: .5rem .5rem;
}

.nav-tabs-custom {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}
.nav-tabs-custom .tab-content{border: 1px solid #dee2e6; margin-top: -1px; padding: 10px;}
.nav-tabs-custom .nav-tabs .nav-link.active{color: #17a2b8; font-weight: bold;}
.nav-tabs .nav-item, .nav-tabs .nav-link{color: #666;}
.nav-tabs .nav-link.disabled{color: #ccc;}
.search-container{background-color: #f5f5f5!important;padding: 30px 10px;margin-bottom: 20px;}
.search-container .form-group {margin-bottom: 0 !important;}
.container-items .form-group{
    margin-bottom: 05px!important;
}
::-webkit-input-placeholder { /* Edge */
    color: #555555!important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #555555!important;
}

::placeholder {
    color: #555555!important;
}


.ui-datepicker{z-index: 9999 !important;}
.ui-datepicker-trigger{background-color: #e9ecef;color: #777; padding: 3px 10px; width: 35px; border: 1px solid #ced4da; border-left: none; cursor: pointer;}
.ui-datepicker-trigger:disabled{color: #ccc;}

.custom-control{padding-top: 10px;}
.custom-form-horizontal .form-group.row{margin-bottom: 0;}
.form-group.row .form-control-plaintext{padding-left: 10px;}

.w240{width: 240px;}
.content-header h1{font-size: 1.8em !important;}

.form-control.is-valid, .was-validated .form-control:valid {
    padding-right: 0.45em;
}

/* .toolbar-container{width: 100%;;} */

.pro_minwdth{min-width: 250px;}
.item_minwdth{min-width: 200px;}
.date_minwdth{min-width: 105px !important;}


#container {
    height: 400px; 
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.error-box{padding: 20px;
           background: #fff url(../images/error-page-bg.jpg) bottom center no-repeat;
           padding-bottom: 150px;
           margin-bottom: 30px;
}
.error-code{
    font-size: 16rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}
.custom-control-inline .invalid-feedback{
    float: left;
}


i.disabled{color: #ccc;}


.custom-grid-ddl{font-size: .98rem !important;}
.purchase-table .select2-selection--single{padding: 3px 3px; height: calc(1.6rem + 2px); font-size: .9rem;}
.purchase-table .select2-selection--single .select2-selection__clear{background-color: #fff; padding: 1px 5px; right: 1rem;}


@media (min-width: 768px) {
    .form-group.row > .col-form-label {
        text-align: right;
    }
}


@media (max-width: 767px) {
    .login-box{
        width: 90vw;
    }
    .login-content-bg{
        margin-top: 20px;
        background: url(../images/login-content-bg.png) no-repeat top center;  
        background-size: contain;
        padding: 100px 0;
        border: 0;
        border-bottom: 1px dotted #ccc;
    }
    .forgot-content-bg{
        margin-top: 20px;
        background: url(../images/forgot-content-bg.jpg) no-repeat top center;  
        background-size: contain;
        padding: 100px 0;
        border: 0;
        border-bottom: 1px dotted #ccc;
    }
}

@media (max-width: 480px) {
    .error-code{
        font-size: 10rem;
    }
}

@media (max-width: 600px) {
    .text-right{
        text-align: center !important;
    }
}
.nodisplay{display: none;}

.wrapper div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: visible;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.7);
}
form div.required label.col-form-label:after {

    content:" * ";

    color:red;

}

form div.required label:after {
    content:" * ";
    color:red;
}
